<a href="https://colab.research.google.com/github/Zypher44/100DaysOfCode/blob/main/2021_09_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a function that takes an array of strings as an argument and returns a sorted array containing the same strings, ordered from shortest to longest.

For example, if this array were passed as an argument:

["Telescopes", "Glasses", "Eyes", "Monocles"]

Your function would return the following array:

["Eyes", "Glasses", "Monocles", "Telescopes"]

All of the strings in the array passed to your function will be different lengths, so you will not have to decide how to order multiple strings of the same length.

In [2]:
t = ["Telescopes", "Glasses", "Eyes", "Monocles"]
ct = sorted(t)
ct

['Eyes', 'Glasses', 'Monocles', 'Telescopes']

In [3]:
def sort_by_length(arr):
  return sorted(arr)

In [4]:
sort_by_length(t)

['Eyes', 'Glasses', 'Monocles', 'Telescopes']

In [5]:
sort_by_length(['beg', 'i', 'life', 'to'])

['beg', 'i', 'life', 'to']

In [7]:
t.sort()

In [8]:
t

['Eyes', 'Glasses', 'Monocles', 'Telescopes']

In [9]:
tt = ['beg', 'i', 'life', 'to']
tt.sort()
tt

['beg', 'i', 'life', 'to']

In [11]:
cc = sorted(tt,key=lambda tt: len(tt))

In [12]:
cc

['i', 'to', 'beg', 'life']

In [ ]:
Write Number in Expanded Form
You will be given a number and you will need to return it as a string in Expanded Form. For example:

expanded_form(12) # Should return '10 + 2'
expanded_form(42) # Should return '40 + 2'
expanded_form(70304) # Should return '70000 + 300 + 4'
NOTE: All numbers will be whole numbers greater than 0.

If you liked this kata, check out part 2!!

In [13]:
def expanded_form(num):
  result = []

  for index,digit in enumerate(str(num)[::-1]):
    if int(digit) != 0:
      result.append(digit + ('0' *index))
  
  return ' + '.join(result[::-1])

In [15]:
expanded_form(22)

'20 + 2'