<a href="https://colab.research.google.com/github/Zypher44/100DaysOfCode/blob/main/Codewars2021_09_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Step 1: Create a function called encode() to replace all the lowercase vowels in a given string with numbers according to the following pattern:

a -> 1
e -> 2
i -> 3
o -> 4
u -> 5
For example, encode("hello") would return "h2ll4". There is no need to worry about uppercase vowels in this kata.

Step 2: Now create a function called decode() to turn the numbers back into vowels according to the same pattern shown above.

For example, decode("h3 th2r2") would return "hi there".

For the sake of simplicity, you can assume that any numbers passed into the function will correspond to vowels.

In [8]:
import re 
s = 'hello'
c =re.sub('a','1',s)
c = re.sub('e','2',c)
c = re.sub('i','3',c)
c = re.sub('o' ,'4',c)
c = re.sub('u','5',c)
c

'h2ll4'

In [15]:
def encode(st):
  st =re.sub('a','1',st)
  st = re.sub('e','2',st)
  st = re.sub('i','3',st)
  st = re.sub('o' ,'4',st)
  st = re.sub('u','5',st)
  return st

In [11]:
encode('How are you today?')

'H4w 1r2 y45 t4d1y?'

In [16]:
def decode(st):
  st =re.sub('1','a',st)
  st = re.sub('2','e',st)
  st = re.sub('3','i',st)
  st = re.sub('4' ,'0',st)
  st = re.sub('5','u',st)

  return st

In [13]:
decode('h3 th2r2')

'hi there'

In [17]:
#Simpler way to do what we did 
tbl1 = str.maketrans("aeiou", "12345")
tbl2 = str.maketrans("12345", "aeiou")


def encode1(st):
    return st.translate(tbl1)


def decode1(st):
    return st.translate(tbl2)

In [19]:
encode1('Hello')

'H2ll4'

In [21]:
testing = str.maketrans('aeiou','AEIOU')
string ='hello'

print(string.translate(testing))

hEllO

In [ ]:
Complete the method which returns the number which is most frequent in the given input array. If there is a tie for most frequent number, return the largest number among them.

Note: no empty arrays will be given.

Examples
[12, 10, 8, 12, 7, 6, 4, 10, 12]              -->  12
[12, 10, 8, 12, 7, 6, 4, 10, 12, 10]          -->  12
[12, 10, 8, 8, 3, 3, 3, 3, 2, 4, 10, 12, 10]  -->   3

In [29]:
alist = [13, 12, 8, 13, 7, 6, 4, 10, 12, 13, 12]
most = max(alist, key=alist.count)

In [30]:
most

13

In [36]:
c =sorted(alist,reverse=True)

In [38]:
type(c)

list

In [ ]:
def highest_rank(arr):
    most = sorted(arr,reverse=True)
    most = max(most,key=arr.count)
    return most