<a href="https://colab.research.google.com/github/Zypher44/100DaysOfCode/blob/main/ListsDone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A list is a data structure that holds an ordered collection of items 
[]

#Operation                       Time complexity     Space complexity 
Creating an List                    O(1)                 O(n)
Inserating a value in an List       O(1)|O(n)            O(1)
Traversing a given List             O(n)                 O(1)
Accessing a given cell              O(1)                 O(1)
Searching a given value             O(n)                 O(1)
Deleting a given value              O(1)|O(n)            O(1)

In [1]:
#Find the number of days abover average tempurre 

def avgtemp(days,temp):
  if days > 1:
    x = len(days)

In [18]:
x = int(input("How many days temperature"))
for i in range(x):
  t = []
  c = int(input(f'day {i} input is?'))
  t.append(c)

How many days temperature2
day 0 input is?1
[1]
day 1 input is?3
[3]

In [9]:
for i in range(x):
  print(i)

0
1

In [19]:
t

[3]

In [49]:
numDays = int(input("How many days?"))
total = 0 
x = []
higherthenavg = []
for i in range(1,numDays+1):
  nextday = int(input(f"What is the tempature for the {i} day?"))
  x.append(nextday)
  total += nextday

avg = round(total/numDays,2)
print(f'The average is {avg}')

for i in x:
  if i > avg:
    higherthenavg.append(i)
print(f"There was this many days: {len(higherthenavg)} that where higher than the avg temp of {avg}")

How many days?3
What is the tempature for the 1 day?23
What is the tempature for the 2 day?31
What is the tempature for the 3 day?2
The average is 18.67
There was this many days :2 that where higher than the avg temp of 18.67

In [36]:
22
total

35

In [42]:
x

[12, 23]

In [46]:
higherthenavg = []
for i in x:
  if i > avg:
    higherthenavg.append(i)
    print(len(higherthenavg))

1

In [4]:
x = [10,20,30,34,23,11,12]
y = [20,30,34,23,11,12]

totalx = sum(x)
totaly = sum(y)

missingnum = totalx-totaly
missingnum

10

In [5]:
#Write a program to find all pairs of integers whose sum equal to a given number, pairs have to be distint 

for i in x:
  print(i)

10
20
30
34
23
11
12

In [14]:
def findpairs(nums,target):
  for i in range(len(nums)):
    for j in range(i+1,len(nums)):
      if nums[i] == nums[j]:
        continue
      elif nums[i] + nums[j] == target:
        print(nums[i],nums[j])

In [15]:
findpairs(x,23)

11 12

In [62]:
#Check if array contains a number in python 

import numpy as np

myArray = np.array([1,2,2,4,3,6,7,8,9,10,20])

def findnums(array,targetnum):
  for i in range(len(array)):
    if array[i] == targetnum:
      print(i) #Displays the index that the the number is found

In [20]:
findnums(array=myArray,targetnum=9)

8

In [51]:
#How to find maximun product in arrayu whenere all elements are positive 
myArray
def findmax(array):
  max = 0
  for i in range(len(array)):
    for j in range(i+1,len(array)): #Has to start at the second element 
      if array[i] * array[j] > max:
        max = array[i] * array[j]
        pairs = str(array[i]) + ',' +str(array[j])
  print(pairs)
  print(max)

In [52]:
findmax(myArray)

10,20
200

In [82]:
#Write a function that checks if the array is unique 

def unique(array):
  empty = []
  for i in array:
    if i in empty:
      print(i)
      return False
    else:
      empty.append(i)
  return True

In [83]:
unique(myArray)

2

False

In [84]:
myArray

array([ 1,  2,  2,  4,  3,  6,  7,  8,  9, 10, 20])

In [100]:
#Write a function that a list is a permutation or not, permutation same chars in the same order
x = [20,30,34,23,11,12]
y = [20,30,34,23,11,12]

def permutation(x,y):
  x_sorted = sorted(x)
  y_sorted = sorted(y)
  if x_sorted == y_sorted:
    return True
  else:
    return False

In [95]:
sorted_y = sorted(y)

In [96]:
sorted_y

[11, 12, 20, 23, 30, 34]

In [101]:
permutation(x,y)

True